<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence"
             version="2.0">
    <persistence-unit name="carDealer"
                      transaction-type="RESOURCE_LOCAL">
        <class>com.company.cardealer.entity.Country</class>
        <class>com.company.cardealer.entity.ExtUser</class>
        <class>com.company.cardealer.entity.Automaker</class>
        <class>com.company.cardealer.entity.Color</class>
        <class>com.company.cardealer.entity.Equipment</class>
        <class>com.company.cardealer.entity.CarModel</class>
        <class>com.company.cardealer.entity.Car</class>
        <class>com.company.cardealer.entity.Person</class>
        <class>com.company.cardealer.entity.LegalPerson</class>
        <class>com.company.cardealer.entity.IndividualPerson</class>
        <class>com.company.cardealer.entity.CarPurchaseRequest</class>
        <class>com.company.cardealer.entity.ProcAttachment</class>
    </persistence-unit>
</persistence>
